{% extends 'base.html.twig' %}

{% block title %}Decisioncas index{% endblock %}

{% block body %}
    <h1>Decisioncas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decisionca in decisioncas %}
            <tr>
                <td>{{ decisionca.id }}</td>
                <td>{{ decisionca.libelle }}</td>
                <td>
                    <a href="{{ path('app_decisioncas_show', {'id': decisionca.id}) }}">show</a>
                    <a href="{{ path('app_decisioncas_edit', {'id': decisionca.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_decisioncas_new') }}">Create new</a>
{% endblock %}
