{% extends 'base.html.twig' %}

{% block title %}EtudeDeCas index{% endblock %}

{% block body %}
    <h1>EtudeDeCas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etude_de_ca in etude_de_cas %}
            <tr>
                <td>{{ etude_de_ca.id }}</td>
                <td>{{ etude_de_ca.libelle }}</td>
                <td>
                    <a href="{{ path('app_etude_de_cas_show', {'id': etude_de_ca.id}) }}">show</a>
                    <a href="{{ path('app_etude_de_cas_edit', {'id': etude_de_ca.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etude_de_cas_new') }}">Create new</a>
{% endblock %}
