{% extends 'base.html.twig' %}

{% block title %}BaleNiveau1 index{% endblock %}

{% block body %}
    <h1>BaleNiveau1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bale_niveau1 in bale_niveau1s %}
            <tr>
                <td>{{ bale_niveau1.id }}</td>
                <td>{{ bale_niveau1.libelle }}</td>
                <td>
                    <a href="{{ path('app_bale_niveau1_show', {'id': bale_niveau1.id}) }}">show</a>
                    <a href="{{ path('app_bale_niveau1_edit', {'id': bale_niveau1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bale_niveau1_new') }}">Create new</a>
{% endblock %}
